* {
    font-family: 'Montserrat';
}

nav a {
    padding: 25px;
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0px;
}

nav a:hover {
    color: purple;
}

nav ul {
    list-style: none;
}

header h1 {
    text-align: center;
    padding-top: 10px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0px;
}

.nav-cluster {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    
}

.container {
    display: flex;
    justify-content: center;
    
}

.container-about {
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
}


.grid {
    display:flex;
    background: #eee;
    width: 1200px;
    height: auto;
  }


.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    height: auto;
 }

.grid-item img {
    width: 380px;
    padding: 10px;
}

.client-heading {
    display: flex;
    justify-content: center;
}

.companies {
    display: flex;
    align-content: center;
    
}

.exhibition {

}

.companies li {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}


.small-logo {
    max-width: 200px;
    height: auto;
}
